<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
        <!-- 要调用的工作类 ,分成自动程序-->
        <bean id="quartzJob_usdt" class="com.gt.quartz.GetUSDTPrice"></bean>
        <!-- 定义调用对象和调用对象的方法 -->
        <bean id="jobtask_usdt" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
            <!-- 调用的类 -->
            <property name="targetObject">
                <ref bean="quartzJob_usdt"/>
            </property>
            <!-- 调用类中的方法 -->
            <property name="targetMethod">
                <value>work</value>
            </property>
        </bean>
        <!-- 定义触发时间 -->
        <bean id="doTime_usdt" class="org.springframework.scheduling.quartz.CronTriggerBean">
            <property name="jobDetail">
                <ref bean="jobtask_usdt"/>
            </property>
            <!-- cron表达式   每天凌晨一点触发-->
            <property name="cronExpression">
                <value>0/60 * * * * ?</value>
                <!-- <value>0 0/3 * * * ?</value> -->
            </property>
        </bean>
        <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
        <bean id="startQuertz_usdt" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
            <property name="triggers">
                <list>
                    <ref bean="doTime_usdt"/>
                </list>
            </property>
        </bean>
    
</beans>