@charset "utf-8";

/********************header***************/
*{margin:0;padding:0; box-sizing:border-box; -ms-box-sizing:border-box; -wekit-box-sizing:border-box; -moz-box-sizing:border-box;}
body,button,input,select,textarea{font:12px/2 Arial,sans-serif,opensans, Verdana, "Microsoft Sans Serif";}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;word-wrap: break-word; white-space: normal;}
small{font-size:12px;}
ul,ol{list-style:none;}
a:link,a:visited{text-decoration:none;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;outline: none; border:none;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}

html,body{ color:#666; min-width:1200px;}
.mg{width:1200px; margin:0 auto;} /*这个是内容的最大宽度，根据设计稿实际宽度定*/
.fl{float:left;display: inline;}
.fr{float:right;display: inline;}
.clear{clear: both;}
.clear:after{content: "";display: table;clear: both;overflow: hidden;}
.disabled{ pointer-events: none;cursor: auto; }
/*需要时加上，数据可按实际情况更改*/
input:focus{border: 1px solid #4f94e7!important; box-shadow:0 0 8px #4f94e7;}
select:focus{border: 1px solid #4f94e7!important; box-shadow:0 0 8px #4f94e7;}
textarea:focus{border: 1px solid #4f94e7!important; box-shadow:0 0 8px #4f94e7;}

/*header*/
.lw-indexBody{background:#f2f2f0;}
.lw-header{width:100%; height:70px;position: fixed; background:#333; font-size:16px;left:0; top:0; z-index: 9999; padding:0 20px;}
/*.lw-fixed{position: fixed; background:#192637;}*/
.lw-header .lw-logo{height:50px; width:166px; margin-right:53px; padding-top:14px;}
.lw-header .lw-logo img{height:auto; display:block;}
.lw-nav ul{padding-top:20px;}
.lw-nav ul li{margin-right:8px; height:30px; line-height:30px;}
.lw-nav ul li a{display:block; color:#999; padding:0 15px;border-radius:3px;}
.lw-nav ul li a:hover{color:#fff; background:#488bef; }
.lw-nav ul li.current a{color:#fff; font-weight:bold; background:#488bef;}
.lw-loginBtn{margin-top:20px;}
.lw-loginBtn>div{color:#fff; margin-right:20px;}
.lw-loginBtn div a{display:inline-block;color:#488bef;}
.lw-loginBtn div a:hover{text-decoration:none;}
.lw-regForm span .current{color:#fff; height:31px; line-height:31px; margin-left:6px; background:#488bef; border-radius:3px; padding:0 10px;}
.lw-regForm span .current:hover{background:#639ef6;}
.lw-lang{position:relative;width:132px;height:30px; font-size:16px;}
.lw-lang img{margin:9px 10px 0 0; width:22px; height:13px; float:left;}
.lw-lang .lang{display:inline-block;margin:0 0 0 26px; height:70px;}
.lw-lang .lanague img{margin-top:3px; height:16px;}
.lw-lang a:hover{text-decoration: none!important;}
.lw-lang .lang a{display:block; color:#488bef;}
.lw-lang .lanague a{display:block; color:#fff;}
.lw-lang .lanague{position:absolute;width:128px;overflow:hidden; height:0; z-index:9999; background:#141f2d; right:-20px;display:block;top:50px;}
.lw-lang .lanague ul{ padding:6px 20px; font-size:14px;}
.lw-lang .lanague li{overflow:hidden; margin-bottom:5px;}

/*登录后*/

.lw_a{display:inline-block;}
.lw-loginBtn .lw-userName{position: relative; display:inline-block;}
.lw-userName:before{content:""; width:7px; height:7px; border-left: 1px solid #488bef; border-top: 1px solid #488bef; -webkit-transform: rotateZ(225deg);-moz-transform: rotateZ(225deg);-ms-transform: rotateZ(225deg);-o-transform: rotateZ(225deg);transform: rotateZ(225deg); position: absolute; right:-16px; top:8px;}
.lw_a:hover .lw-userName:hover:before{-webkit-transform: rotateZ(-316deg);-moz-transform: rotateZ(-316deg);-ms-transform: rotateZ(-316deg);-o-transform: rotateZ(-316deg);transform: rotateZ(-316deg); top:14px;}
.lw-userinfo{width:300px;display:none;z-index:100;position:absolute;top:59px;color:#000;right:0;height:auto;overflow:hidden;}

.userinfo-t{width:100%;background:#23344e; padding-bottom:20px;}
.userinfo-top{width:100%;padding-left:20px;height:94px;padding-bottom:20px;}
.userinfo-top p{font-size:1.2em;color:#FFF;padding-top:14px;}
.userinfo-top p i{font-style:normal;color:#fff;}
.userinfo-top p a{margin-left:14px;font-size:14px;}
.lw-userinfo ul{width:100%;display:block;padding-top:0;max-height:270px;overflow-y:auto;box-sizing:border-box;background:#23344e;}
.lw-userinfo ul::-webkit-scrollbar{width:8px;}
.lw-userinfo ul::-webkit-scrollbar-track{background-color:#23344e;}
.lw-userinfo ul::-webkit-scrollbar-thumb{background-color:#131f34;border-radius:5px;}
.lw-userinfo ul li{width:100%;height:45px;background:#23344e;float:none;line-height:45px;margin-left:0;padding-left:20px;border-bottom:1px solid #3a4c56;}
.lw-userinfo .userinfo-title{width:100%;height:35px;background:#131f34;line-height:35px;padding:0 10px 0 20px;}
.lw-userinfo ul li>div,.userinfo-title div{width:84px;display:inline-block;color:#fff; float:left;}
.lw-userinfo ul li>div.userinfo-Coin,.userinfo-title div.userinfo-Coin{width:70px;}
.lw-userinfo ul li>div.userinfo-available,.userinfo-title div.userinfo-available{width:110px;}
.lw-userinfo ul li>div.userinfo-frozen,.userinfo-title div.userinfo-frozen{width:80px;}
.lw-userinfo ul li>div.userinfo-Coin span{margin-right:5px;}
.lw-userinfo{background-position:left 0;}
.lw-userinfo ul .listscoll a{display:block;}
.lw-userinfo ul .listscoll a:hover{text-decoration:none;}
.lw-userinfo ul .listscoll a:hover li{background:#131f34;}
.lw-userinfo ul .listscoll li>div.userinfo-available{color:#1bc676;font-size:1.2em;}
.lw-userinfo ul .listscoll li>div.userinfo-frozen{color:#ff6767;font-size:1.2em;}
.lw-userinfo .listscoll .coin{width:24px; height:24px; float:left; background:url(../images/coin_all.png) no-repeat 0 -96px; background-size:100%; margin-top:10px; display:inline-block;}
.lw-userinfo .listscoll .coin.coin_bcc{background-position:0 0;}
.lw-userinfo .listscoll .coin.coin_eth{background-position:0 -24px;}
.lw-userinfo .listscoll .coin.coin_etc{background-position:0 -70px;}