		* {
			margin: 0;
			padding: 0;
		}
		
		header {
			background: url(../../images/exchange/xiangmu_banner@2x.png) no-repeat 100% 100%;
			width: 100%;
			height: 2.56rem;
			background-size: 100%;
			color: white;
		}
		
		.h_title {
			padding-top: 1rem;
			font-size: 0.45rem;
			    text-align: center;
		}
		
		section {
			background: #F9FBFF;
			height: 100%;
		}
		
		.sec_title p {
			color: #000821;
			font-size: 0.38rem;
			text-align: center;
			padding-top: 0.26rem;
		}
		
		.thick_line {
			margin: auto;
			border: 3px solid #3B4B7C;
			width: 3.1rem;
			margin-top: 0.12rem;
		}
		
		.fine_line {
			border: 1px dashed #3B4B7C;
			width: 2rem;
			margin: auto;
			margin-top: 0.09rem;
		}
		
		.device {
			background: url(../../images/exchange/12.png) no-repeat 100% 100%;
			background-size: 100%;
			width: 6.57rem;
			height: 6.45rem;
			margin: auto;
			padding: 0.3rem 0.4rem;
			position: relative;
			background-size: 100%;
		}
		
		.swiper-container {
			height: 5rem;
			width: 5.95rem;
			margin-top: 0.32rem;
		}
		
		.content-slide {
			padding: 0.2rem;
		}
		
		.slide_title {
			text-align: center;
			margin: 0.35rem;
		}
		
		.slide_title img {
			width: 0.6rem;
			vertical-align: bottom;
		}
		
		.slide_title span {
			font-size: 0.32rem;
			color: #535353;
		}
		
		.slide_introduce {
			height: 1.3rem;
		}
		
		.slide_introduce img:nth-child(1) {
			float: right;
			margin-right: 0.44rem;
			width: 0.25rem;
			margin-top: -0.12rem;
		}
		
		.slide_introduce p {
			margin-left: 0.86rem;
			color: #666666;
			font-size: 0.28rem;
			letter-spacing: 2pt;
			line-height: 0.5rem;
			text-align: left;
		}
		
		.slide_introduce img:last-child {
			float: left;
			margin-left: 0.45rem;
			width: 0.25rem;
			margin-top: -0.1rem;
		}
		
		.slide_details {
			height: 1.96rem;
		}
		
		.slide_details ul {
			float: left;
			margin-top: -0.1rem;
			text-align: center;
		}
		
		.slide_details ul:nth-child(1) {
			margin: 0.29rem 0 0 1.21rem;
			line-height: 0.42rem;
		}
		
		.slide_details ul:nth-child(1) li img {
			width: 0.27rem;
		}
		
		.slide_details ul:nth-child(2) {
			color: #FFA902;
			font-size: 0.25rem;
			margin: 0.2rem 0.6rem 0 0.15rem;
			line-height: 0.48rem;
		}
		
		.slide_details ul:last-child img {
			width: 1.82rem;
		}
		
		.device input {
			width: 1.9rem;
			height: 0.5rem;
			color: white;
			background: #2269D4;
			font-size: 0.26rem;
			margin-left: 34%;
			line-height: 0.1rem;
		}
		.slide_details2 {
			height: 1.96rem;
		}
		
		.slide_details2 ul {
			margin: 0.5rem 0 0 0.2rem;
			line-height: 0.42rem;
			float: left;
		}
		
		.slide_details2 ul:nth-child(1) {
			margin: 0.4rem 0 0 0.9rem;
			line-height: 0.42rem;
		}
		
		.slide_details2 ul:nth-child(1) li img {
			width: 0.27rem;
		}
		
		.slide_details2 ul:nth-child(2) {
			color: #FFA902;
			font-size: 0.25rem;
			margin: 0.29rem 0.6rem 0 0.15rem;
			line-height: 0.46rem;
			position: relative;
    		z-index: 999;
		}
		
		.slide_details2 ul:last-child img {
			width: 1.71rem;
			margin:-0.4rem 0 0 -0.8rem;
			position: relative;
    		z-index: -1;
		}
		
		.pagination {
			position: relative;
			left: 0;
			text-align: center;
			width: 100%;
		}
		
		.swiper-pagination-switch {
			display: inline-block;
			width: 0.25rem;
			height: 0.03rem;
			border-radius: 10px;
			background: #E6E6E6;
			box-shadow: 0px 1px 2px #E6E6E6 inset;
			margin: 0 0.03rem;
			cursor: pointer;
		}
		
		.swiper-active-switch {
			background: #AFCEFF;
		}
		
		.f_code {
			text-align: center;
			margin-bottom: 1.3rem;
		}
		
		.f_code img {
			width: 2rem;
			height: 2rem;
		}
		
		.f_code p {
			font-size: 0.3rem;
		}
		
		
					/* 认证弹窗 */
.realfixed{
    margin-left: -1.6rem;
    top: 27%;
    width: 5rem;
    padding-bottom: 0.42rem;
    clear: both;
    overflow: hidden;
    text-align: center;
    position: fixed;
    left: 40%;
    z-index: 100;
    background: white;
    box-shadow: 0px 2px 9px 0px rgba(183, 183, 183, 0.32);
    display:none;
}
.realfixed ul h3{
    text-align: right;
    padding: 0.2rem 0.3rem 0 0;
}
.realfixed ul h3>img{
    cursor: pointer;
    width: 0.25rem;
}

.realfixed ul li{
    color: #FF481F;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}
.realfixed ul li p{
    line-height: 30px;
    font-size: 0.29rem;
}
.realfixed ul li a{
    color: #2269D4;
    font-size: 0.16rem;
    line-height: 0.4rem;
    height: 0.57rem;
    display: block;
}
.realfixed ul li .lotterKYCBtn{
        background: #2269D4;
    width: 1.95rem;
    height: 0.46rem;
    color: #fff;
    font-size: 0.22rem;
    cursor: pointer;
        margin: 0 auto;
}
.realfixed ul li button{
        background: #2269D4;
     width: 1.95rem;
    height: 0.46rem;
    color: #fff;
    font-size:0.22rem;
    cursor: pointer;
        margin: 0 auto;
}
.realfixed ul li .lotterKYCBtn label{cursor: pointer;}
.realfixed ul li span{
    display: block;
    font-size: 0.29rem;
    line-height: 0.4rem;
}
.realModule{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.3;
    z-index: 99;
    display:none;
}